openapi: 3.0.3
info:
  title: Coding Platform Backend API
  description: |
    실무형 코딩 테스트 플랫폼 백엔드의 주요 REST API 명세입니다.
    JWT 인증이 필요한 엔드포인트는 `Authorization: Bearer <token>` 헤더를 포함해야 합니다.
  version: 1.0.0
servers:
  - url: http://legendheodongun.com:8080
paths:
  /health:
    get:
      summary: 서비스 헬스 체크
      responses:
        '200':
          description: 헬스 상태
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
  /api/auth/login:
    post:
      summary: 사용자 로그인
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: 잘못된 요청
  /api/auth/register:
    post:
      summary: 새 사용자 등록
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 회원가입 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
  /api/execute:
    post:
      summary: 제출 코드 즉시 실행
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteCodeRequest'
      responses:
        '200':
          description: 실행 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '401':
          description: 인증 필요
  /api/submissions:
    post:
      summary: 문제 제출 및 평가 시작
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionRequest'
      responses:
        '202':
          description: 제출 수락
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
        '400':
          description: 잘못된 요청
  /api/problems:
    get:
      summary: 문제 목록 조회
      responses:
        '200':
          description: 문제 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProblemResponse'
    post:
      summary: 새 문제 등록
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProblemRequest'
      responses:
        '201':
          description: 등록 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemResponse'
        '403':
          description: 관리자 권한 필요
  /api/problems/{id}:
    get:
      summary: 문제 상세 조회 (UUID 또는 slug)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 문제 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemResponse'
        '404':
          description: 문제를 찾을 수 없음
    put:
      summary: 문제 정보 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProblemRequest'
      responses:
        '200':
          description: 수정된 문제
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemResponse'
        '404':
          description: 문제를 찾을 수 없음
    delete:
      summary: 문제 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 성공적으로 삭제됨
        '404':
          description: 문제를 찾을 수 없음
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        name:
          type: string
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'
    ExecuteCodeRequest:
      type: object
      required: [language, files, testCommand]
      properties:
        language:
          type: string
          enum: [KOTLIN, JAVA, PYTHON]
          example: KOTLIN
        files:
          type: object
          additionalProperties:
            type: string
          example:
            Main.kt: "fun main() = println(\"hello\")"
        testCommand:
          type: string
          example: "gradle test --no-daemon"
    ExecutionResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/ExecutionResult'
    SubmissionRequest:
      type: object
      required: [problemId, files]
      properties:
        problemId:
          type: string
          format: uuid
          example: "20397d76-a1d6-4c50-b295-63c4e1a7bb82"
        files:
          type: object
          additionalProperties:
            type: string
          example:
            ShoppingCart.kt: "class ShoppingCart { /* ... */ }"
    SubmissionResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/SubmissionResponseData'
    ExecutionResult:
      type: object
      properties:
        executionId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED, ERROR, TIMEOUT]
        output:
          type: string
        error:
          type: string
          nullable: true
        exitCode:
          type: integer
        executionTime:
          type: integer
          format: int64
        memoryUsed:
          type: integer
          format: int64
    SubmissionResponseData:
      type: object
      properties:
        submissionId:
          type: string
        status:
          type: string
          enum: [PENDING, RUNNING, COMPLETED, FAILED]
        message:
          type: string
          example: "코드 평가가 시작되었습니다."
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        role:
          type: string
    ProblemResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "582df06a-dd24-4e04-80c8-afad5d356f2b"
        title:
          type: string
          example: "장바구니 서비스 구현"
        slug:
          type: string
          example: "kotlin-shopping-cart"
        description:
          type: string
          example: "## 요구사항\n- 장바구니에 상품을 추가/삭제..."
        difficulty:
          type: string
          example: "MEDIUM"
        language:
          type: string
          enum: [KOTLIN, JAVA, PYTHON]
          example: KOTLIN
        tags:
          type: array
          items:
            type: string
          example: ["kotlin", "service", "testing"]
        starterCode:
          type: string
          nullable: true
          example: "class ShoppingCart { /* TODO */ }"
    CreateProblemRequest:
      type: object
      required: [title, slug, description, difficulty, language, testFiles]
      properties:
        title:
          type: string
          example: "장바구니 서비스 구현"
        slug:
          type: string
          example: "kotlin-shopping-cart"
        description:
          type: string
          example: "## 요구사항\n- 장바구니에 상품을 추가/삭제..."
        difficulty:
          type: string
          example: "MEDIUM"
        language:
          type: string
          enum: [KOTLIN, JAVA, PYTHON]
          example: KOTLIN
        tags:
          type: array
          items:
            type: string
          example: ["kotlin", "service", "testing"]
        testFiles:
          type: object
          additionalProperties:
            type: string
          example:
            "src/test/kotlin/ShoppingCartTest.kt": "import org.junit.jupiter.api.Assertions.*\n..."
        starterCode:
          type: string
          nullable: true
          example: "class ShoppingCart { /* TODO */ }"
    UpdateProblemRequest:
      type: object
      properties:
        title:
          type: string
          example: "장바구니 서비스 리팩터링"
        description:
          type: string
          example: "요구사항 업데이트"
        difficulty:
          type: string
          example: "HARD"
        language:
          type: string
          enum: [KOTLIN, JAVA, PYTHON]
          example: KOTLIN
        tags:
          type: array
          items:
            type: string
          example: ["kotlin", "refactor"]
        testFiles:
          type: object
          additionalProperties:
            type: string
          example:
            "src/test/kotlin/ShoppingCartTest.kt": "..."
        starterCode:
          type: string
          nullable: true
          example: "class ShoppingCart { /* updated */ }"
